html, body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #E6EEF5, #B4CDE4), url(assets/background.png);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin: 0;
    height: 90px;
    background-color: #364A64;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    flex-direction: row;
}

.brand p {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}

.EYE-text {
    color: #76B1FF;
}

.Care-text {
    color: white;
}

.option-container {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: flex-end;
}

.option-container a {
    font-size: 25px;
    /* color: whitesmoke; */
    margin-left: 20px;
    text-decoration: none;
}

.option-selected {
    color: #88C0D0
}

.option-choice {
    color: white;
}