html, body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    background: linear-gradient(#262B42, #414070), url(assets/background.png) !important;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 100px;
    background-color: #76B1FF;
    margin-bottom: 5dvh;
}

.brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
    white-space: nowrap;
}

.nav-item {
    font-size: 20px;
    margin-left: 25px;
}

.active {
    color: whitesmoke;
}

.main-body {
    width: 1000px;
}

.option-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: space-between;
}

.card {
    background-color: #76B1FF !important;
    align-items: center;
}

.card-img-container {
    height: 120px;
    width: 120px;
    overflow: hidden;
    align-items: center;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-header {
    width: 100%;
}

.card-text {
    font-size: 30px;
    color: white;
    text-align-last: center;
    text-align: center;
}

.card-body {
    width: 100%;
    padding: 10px;
}