<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EYECare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="brand">
            <p class="EYE-text">EYE</p><p class="Care-text">Care</p>
        </div>
        <div class="option-container">
            <a class="option-selected" href="">Home</a>
            <a class="option-choice" href="">Process</a>
            <a class="option-choice" href="">About</a>
        </div>
    </nav>

    <div class="main">

        <div class="card">
            <div class="card-form-container">
                <form action="/analyse" method="POST" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="" class="form-label">Image</label>
                        <input name="imageFile" type="file" class="form-control" required>
                    </div>

                    <button type="submit" class="button">Analyse</button>

                </form>
            </div>
            <div class="card-prediction-container">



            </div>
        </div>
        
    </div>

    <!-- {% if prediction %}
    <div class="container col-md-6 mt-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>Diagnosis</h3>
                <p class="text-success fs-5">{{ prediction }} {{confidence}}%</p>
            </div>
        </div>
    </div>
    {% endif %} -->

</body>
</html>