<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EYECare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="brand">
            <p class="EYE-text">EYE</p>
            <p class="Care-text">Care</p>
        </div>
        <div class="option-container">
            <a class="option-selected" href="">Home</a>
        </div>
    </nav>

    <div class="main">

        <div class="card">
            <div class="card-form-container">
                <form class="form" action="/analyse" method="POST" enctype="multipart/form-data">
                    <div class="main-form-container">
                        <label for="" class="form-label">Upload Image</label>
                        <div class="file-upload">
                            <label for="imageFile" class="custom-button">Upload Image</label>
                            <span id="file-name" class="file-name">No file chosen</span>
                            <input id="imageFile" class="input-file" name="imageFile" type="file" required>
                        </div>                                               
                    </div>
                    <div class="button-container">
                        <button type="submit" class="button">Analyse</button>
                    </div>
                </form>
            </div>
            <div class="card-prediction-container">
                {% if prediction %}
                <div class="prediction">
                    <p class="Diagnosis-text">Diagnosis:</p>
                    <p class="prediction-text">{{ prediction }} {{ confidence }}%</p>
                </div>
                {% endif %}
            </div>
        </div>        
        
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>